title: David Tan
description: Travel guides, expat living tips, and personal finance advice for Thailand and Southeast Asia.

# Plugins
plugins:
  - jekyll-sitemap
url: "https://davidtan.me"

# Build settings
markdown: kramdown
permalink: /blog/:title/

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
